<div class="main-content">
  
    <div class="row">

      <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"><b>Novo Documento</b></h4>
          </div>
          <div class="card-body">

            <div [formGroup]="categoriaDocumentoForm">
              <mat-form-field>
                <mat-label>Categoria do Documento</mat-label>
                <mat-select formControlName="categoria_documento" [(ngModel)]="categoria_documento" required>
                  <mat-option *ngFor="let categoria_documento of categorias_documento"
                    id="categoria_documento.descricao" [value]="categoria_documento.id">
                    {{categoria_documento.nome}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="categoriaDocumentoForm?.controls?.categoria_documento?.hasError('required')">
                  Essa informação é <strong>requerida</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Departamentos do Documento</mat-label>
                <mat-select formControlName="departamentos_documento" [(ngModel)]="departamentos_documento" multiple
                  required>
                  <mat-option *ngFor="let departamentos_documento of lista_departamentos_documento"
                    [value]="departamentos_documento.id">{{departamentos_documento.nome}}</mat-option>
                </mat-select>
                <mat-error *ngIf="categoriaDocumentoForm?.controls?.departamentos_documento?.hasError('required')">
                  Essa informação é <strong>requerida</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Peridiocidade</mat-label>
                <mat-select formControlName="peridiocidade_documento" [(ngModel)]="peridiocidade_documento" required>
                  <mat-option *ngFor="let peridiocidade_documento of peridiocidades_documento"
                    [value]="peridiocidade_documento.id">
                    {{peridiocidade_documento.nome}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="categoriaDocumentoForm?.controls?.peridiocidade_documento?.hasError('required')">
                  Essa informação é <strong>requerida</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Clientes do Documento</mat-label>
                <mat-select formControlName="clientes_documento" [(ngModel)]="clientes_documento" multiple required>
                  <mat-option *ngFor="let clientes_documento of lista_clientes_documento"
                    [value]="clientes_documento.cnpj">
                    {{clientes_documento.nome}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="categoriaDocumentoForm?.controls?.clientes_documento?.hasError('required')">
                  Essa informação é <strong>requerida</strong>
                </mat-error>
              </mat-form-field>


              <!-- <mat-form-field class="example-full-width">
                <input formControlName="clientes_documento" [(ngModel)]="clientes_documento" matInput type="text"
                  placeholder="Unidades">
                <mat-error *ngIf="categoriaDocumentoForm?.controls?.clientes_documento?.hasError('required')">
                  Essa informação é <strong>requerida</strong>
                </mat-error>
              </mat-form-field> -->

              <div class="togglebutton">
                <label>
                  <input formControlName="situacao_categoria" type="checkbox" [(ngModel)]="situacao_categoria"
                    checked="situacao_categoria">
                  <span class="toggle"></span>
                  Documento está ativo?
                </label>
              </div>


              <div class="row">
                <div class="col-md-12">

                  <mat-form-field class="example-full-width">
                    <textarea formControlName="descricao_documento" [(ngModel)]="descricao_documento" matInput
                      placeholder="Descrição do Documento"></textarea>
                    <mat-error *ngIf="categoriaDocumentoForm?.controls?.descricao_documento?.hasError('required')">
                      Essa informação é <strong>requerida</strong>
                    </mat-error>
                  </mat-form-field>
                 
                </div>
              </div>

              <!-- <mat-form-field class="example-full-width" *ngIf="false">
                <input matInput formControlName="apiKey" type="text" placeholder="apiKey" [(ngModel)]="apiKey"
                  [errorStateMatcher]="matcher">
                <mat-error *ngIf="categoriaDocumentoForm?.controls?.apiKey?.hasError('required')">
                  ApiKey <strong>obrigatória</strong>
                </mat-error>
              </mat-form-field> -->


            </div>

            <button (click)="fnCriarDocumento()" mat-raised-button color="primary"
              [disabled]="!categoriaDocumentoForm.valid">Criar</button>

            <!-- <form class="example-form">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
                  [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form> -->

          </div>
        </div>
      </div>

      <!-- <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"><b>Convites</b></h4>
          </div>
          <div class="card-body">

            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="email">
            </mat-form-field>

          





            <button class="btn btn-default">Enviar</button>
          </div>
        </div>
      </div> -->

    </div>
  
</div>