<footer class="footer ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <nav class="pull-right">
                    <ul>
                        <li>
                            <a class="text-muted" routerLink="/licence">
                                Termos & Licenças
                            </a>
                        </li>
                        <li>

                        </li>
                        <small class="text-muted" style="font-size:10px"> <a>&copy; {{date | date: 'yyyy'}}, overt</a></small>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>