<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>

      <div class="col-md-6">
        <div class="col-md-12">
          <div class="card card-profile">

            <div [hidden]='!hasPicture' class="card-avatar">
              <a>
                <img class="img" src="{{faceId}}" />
              </a>
            </div>

            <div class="card-body text-center">

              <div class="row">
                <div class="col-md-12">
                  <h3 [hidden]='user.email?true:false' class="card-title">Login</h3>
                  <h4 [hidden]='user.email?false:true' class="card-title">{{user.email}}</h4>
                </div>
              </div>

              <!-- email ok -->
              <div class="row" [hidden]='user.email?true:false'>
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="email" [(ngModel)]="email" type="email" required>
                    </mat-form-field>
                </div>
              </div>


              <!-- senha ok -->
              <div class="row" [hidden]='user.email?true:false'>
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="senha" [(ngModel)]="password" type="password" required>
                    </mat-form-field>
                </div>
              </div>

              <div class="row" [ngClass]="hasError.hasError?'text-danger':'text-success'">
                <div class="col-md-12">
                  <span>
                    <small>{{hasError.message}}</small>
                  </span>
                </div>
              </div>

              <div class="row" [hidden]='hasError.code==4?false:true'>
                <div class="col-md-12">
                  <button mat-raised-button (click)="fnRecuperarSenha()" class="btn btn-primary btn-link mat-raised-button">
                    Recuperar a Senha?
                  </button>
                </div>
              </div>


              <div class="row" [hidden]='hasError.code==2?false:true'>
                <div class="col-md-12">
                  <button mat-raised-button class="btn btn-success btn-link" (click)="fnVerificarEmail()">Verificar
                    Email?</button>
                </div>
              </div>


              <div class="row" [hidden]='user.email?true:false'>
                <div class="col-md-12">
                  <button mat-raised-button class="btn btn-success btn-round" (click)="fnLogin()">Login</button>
                </div>
              </div>

              <div class="row" [hidden]='hasError.code==9?false:true'>
                <div class="col-md-12">
                  <button mat-raised-button class="btn btn-success btn-round" (click)="fnEntrar()">Entrar</button>
                </div>
              </div>

              <div class="row" [hidden]='user.email?false:true'>
                <div class="col-md-12">
                  <button mat-raised-button class="btn btn-danger btn-round" (click)="fnLogout()">Logout</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>