<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title"><b>overt</b> | Challenger Business</h4>
            <p class="card-category">Termos e Condições de Uso</p>
          </div>
          <div class="card-body">
            <h6>Termos e Condições de Uso</h6>
            <p>(Atualização em 22 de março de 2019)</p>
            <p>
              Antes de utilizar os serviços da <b>overt</b>, por favor, leia atentamente os presentes
              Termos e Condições Gerais de Uso. A leitura integral do presente documento é importante para a sua
              proteção, para a proteção da overt challenger business. (“<b>overt</b>”), bem como de terceiros, além
              de garantir, para você, o melhor uso das nossas funcionalidades. O uso de nossos Serviços não lhe confere
              a propriedade sobre direitos de propriedade intelectual sobre os nossos Serviços ou sobre o conteúdo que
              você acessar. Você não pode usar conteúdos de nossos Serviços a menos que obtenha permissão do
              proprietário de tais conteúdos ou que o faça por algum meio permitido por lei. Estes termos não conferem a
              você o direito de usar quaisquer marcas ou logotipos utilizados em nossos Serviços. Não remova, oculte ou
              altere quaisquer avisos legais exibidos junto aos nossos Serviços.
            </p>

            <ol>
              <li>
                Estes Termos e Condições de Uso são um contrato que você aceita no momento em que faz uso dos serviços
                da <b>overt</b> ou dos serviços pertencentes à <b>overt</b>, independentemente de qualquer outra forma
                de aceitação. você deve estar ciente de que algumas das ferramentas oferecidas pela <b>overt</b> estão
                sujeitas a condições particulares que regem o relacionamento dos envolvidos.
              </li>
              <li>
                No uso de nossas ferramentas, você deve obedecer a legislação vigente, a moral, a ordem pública e a
                estes Termos e Condições de Uso e demais condições particulares a cada caso, não podendo praticar
                nenhuma
                conduta, incluindo a publicação de anúncios, que sejam contrários a eles.
              </li>
              <li>
                Você deverá respeitar os direitos de propriedade intelectual da <b>overt</b> e de terceiros, e desde já,
                autoriza a <b>overt</b> a usar, para fins de publicidade, quaisquer fotografias, imagens, vídeos, áudios
                e demais conteúdos fornecidos por você e inseridos nos websites da <b>overt</b>.
              </li>
              <li>
                Você é integralmente responsável por todos os atos que pratica. Da mesma forma, você também é
                responsável pela veracidade das informações fornecidas, seja para o registro da conta, seja para a
                condução de suas negociações, e se atentará às Regras que integram estes Termos e Condições.
              </li>
              <li>
                A <b>overt</b> se reserva ao direito de recusar, bloquear, inabilitar ou excluir, a seu exclusivo
                critério, usuários que descumpram qualquer uma das disposições presentes nestes Termos e Condições de
                Uso ou outros
                instrumentos que os integram. Se você tiver dúvidas a respeito de qualquer previsão destes Termos, entre
                em contato com nossa equipe.
              </li>
              <li>
                <h6>PARTES E OBJETO</h6>
                Estes Termos e Condições de Uso são um contrato entre você (“Você” ou “Usuário”) e a overt challenger
                business,
                inscrita no CNPJ sob o nº 18.472.077/0001-20, com sede na cidade de Belo Horizonte,
                Estado de Minas Gerais (“<b>overt</b>”), para regular o uso que você fará do portal de internet
                <b>overt</b> (<b>http://overt.com.br</b>) e todos os webservices pertencentes à <b>overt</b>
                (denominados conjuntamente como “SITE”).
                Estes Termos e Condições de Uso não excluem a possibilidade de determinadas ferramentas do SITE, por
                suas
                características particulares, serem submetidas, além dos Termos e Condições, às suas próprias condições
                de uso (“Condições Particulares”). Portanto, recomendamos que você leia atentamente estes Termos e
                Condições e,
                quando for o caso, as Condições Particulares antes de utilizar o SITE.
              </li>

              <li>
                <h6>Aceite</h6>
                Você reconhece e concorda que a utilização do SITE implica na mais alta compreensão,
                aceitação e vinculação automática aos presentes Termos e Condições, independentemente de qualquer outro
                procedimento para aceitação. Caso tenha alguma objeção a quaisquer itens, diretrizes, condições
                previstas neste Termos e Condições atual ou futuramente ou caso por qualquer motivo, não se sinta
                satisfeito com o SITE, você poderá cessar
                imediatamente o uso.
              </li>

              <li>
                <h6>Responsabilidade</h6>
                Você reconhece e aceita que o uso do SITE será feito por sua exclusiva conta, risco
                e responsabilidade, e se compromete a utilizar o SITE e todas as suas ferramentas de acordo com a
                legislação vigente, a moral, a ordem pública, estes Termos e Condições e as Condições Particulares que,
                conforme o
                caso, sejam aplicáveis, abstendo-se de utilizar o SITE para realizar atividades ilícitas, imorais ou que
                de qualquer
                forma atentem contra direitos de terceiros.
              </li>
              <li>
                <h6>Vedações</h6>Você se compromete a não transmitir, introduzir, difundir ou colocar à disposição de
                terceiros qualquer tipo de material ou informação (dados de conteúdo, mensagens, desenhos, arquivos de
                som e imagem, fotografias, software, etc.) que sejam contrários à legislação vigente, à moral, à ordem
                pública, aos presentes Termos e Condições, às políticas da <b>overt</b> e, conforme o caso, às Condições
                Particulares. A título exemplificativo, e em nenhuma hipótese limitativo ou excludente, o Usuário se
                compromete a:
                <ol>
                  <li>
                    não introduzir ou difundir conteúdo ou propaganda de caráter potencialmente ofensivo, obsceno,
                    pornográfico ou ainda que indique, promova ou faça apologia a terrorismo, violência ou a qualquer
                    forma de
                    discriminação, incluindo, mas não se limitando à sexual, racial, de origem, religiosa ou ainda que
                    de qualquer forma
                    atente contra direitos humanos;
                  </li>
                  <li>
                    não introduzir ou difundir na rede programas de dados (vírus e software nocivo) que possam provocar
                    danos
                    aos sistemas informáticos do provedor de acesso, aos sistemas informáticos do SITE ou de Usuários;
                  </li>
                  <li>
                    não difundir, transmitir ou disponibilizar a terceiros qualquer tipo de informação, elemento ou
                    conteúdo
                    que
                    de qualquer forma atente contra direitos fundamentais, liberdades públicas reconhecidas pela
                    legislação e
                    quaisquer tratados internacionais vigentes;
                  </li>
                  <li>
                    não difundir, transmitir ou disponibilizar a terceiros qualquer tipo de informação, elemento ou
                    conteúdo
                    que
                    constitua publicidade ilícita ou desleal;
                  </li>
                  <li>
                    não transmitir publicidade não solicitada ou não autorizada, material publicitário, "spam", "e-mail
                    de
                    correntes", "marketing piramidal", ou qualquer outra forma de solicitação, exceto em áreas (tais
                    como
                    espaços comerciais) que tenham sido exclusivamente concebidas para tal uso, de acordo com as
                    políticas
                    internas da <b>overt</b>;
                  </li>
                  <li>
                    não introduzir ou difundir qualquer informação que tenha conteúdo falso, ambíguo ou inexato, bem
                    como não
                    omitir informações relevantes sobre a oferta, de forma a potencialmente induzir a erro eventuais
                    receptores
                    de referida informação;
                  </li>
                  <li>
                    não utilizar senhas de registro às distintas utilidades e/ou conteúdo do SITE que sejam de
                    titularidade de
                    outros Usuários, de modo a prejudicar ou causar dano a referidos Usuários;
                  </li>
                  <li>
                    não difundir, transmitir ou colocar à disposição de terceiros qualquer tipo de informação, elemento
                    ou
                    conteúdo que implique em violação dos direitos de propriedade intelectual e industrial, incluindo,
                    mas não
                    se limitando a direitos autorais, patentes e marcas de titularidade dos proprietários do SITE ou de
                    terceiros;
                  </li>
                  <li>
                    não difundir, transmitir ou colocar à disposição de terceiros qualquer tipo de informação, elemento
                    ou
                    conteúdo que implique em violação dos direitos de imagem de terceiros;
                  </li>
                  <li>
                    não difundir, transmitir ou colocar à disposição de terceiros qualquer tipo de informação, elemento
                    ou
                    conteúdo que implique em violação ao sigilo das comunicações e à privacidade;
                  </li>
                </ol>
              </li>
              <li>
                <h6>Nossos Serviços</h6>
                <p>Estamos constantemente alterando e melhorando nossos Serviços. Podemos incluir ou remover
                  funcionalidades ou recursos e podemos também suspender ou encerrar um Serviço por completo.</p>
                <p>Você pode deixar de usar nossos Serviços a qualquer momento, embora fiquemos chateados ao ver você ir
                  embora. A <b>overt</b> também poderá deixar de prestar os Serviços a você ou, incluir ou criar novos
                  limites a
                  nossos Serviços a qualquer momento.</p>
                <p>
                  Acreditamos que você seja o proprietário dos seus dados e que é importante preservar seu acesso a
                  esses
                  dados. Se descontinuarmos um Serviço, quando razoavelmente possível, você será informado com
                  antecedência razoável e terá a chance de retirar as suas informações daquele Serviço.
                </p>
              </li>
              <li>
                <h6>Sua Conta</h6>
                Talvez você precise criar uma Conta da <b>overt</b> para utilizar alguns dos nossos Serviços. Você
                poderá criar sua própria Conta da <b>overt</b> ou sua Conta da <b>overt</b> poderá ser atribuída a você
                por um administrador, como seu empregador ou instituição de ensino. Se você estiver usando uma Conta da
                <b>overt</b> atribuída a você por um administrador, termos diferentes ou adicionais podem aplicar-se e
                seu administrador poderá ser capaz de acessar ou desativar sua conta.
              </li>
              <li>
                <h6>Proteja sua conta</h6>
                A proteção de sua conta implica em manter sua senha em sigilo, portanto
                recomendamos que você não a compartilhe. Atividades realizadas no site sob a sua conta, sejam realizadas
                por você ou por qualquer terceiro que acessar sua conta serão de sua exclusiva responsabilidade.
              </li>
              <li>
                <h6>Sua Responsabilidade</h6>
                Ao criar uma conta no SITE, você declara que todas as informações
                fornecidas relacionadas a você (“Informações Pessoais”) são verdadeiras, bem como assume a
                responsabilidade pela atualização de tais dados quando necessário.
              </li>

              <li>
                <h6>POLÍTICA DE PRIVACIDADE</h6>
                A <b>overt</b> possui política expressa sobre privacidade dos dados (“Política de
                Privacidade”). As informações de cadastro e demais informações sobre os Usuários estão sujeitas ao
                tratamento definido na referida política, que constitui parte integrante e indissociável destes Termos e
                Condições e deverá ser lido atentamente por todos os Usuários.
                <ol>
                  <li>
                    Algumas informações pessoais são obtidas quando você se registra. Durante o processo de registro, a
                    <b>overt</b> pergunta seu nome, endereço de e-mail e outras informações pessoais. Quanto mais
                    informações
                    corretas você fornecer, melhor será a personalização da sua experiência.

                    Entretanto, é tecnicamente impossível que os assinantes ou quaisquer usuários da <b>overt</b>
                    escolham como
                    login para registro palavras, expressões ou conjuntos gráficos denominativos que já tenham sido
                    escolhidos anteriormente por outros usuários e/ou assinantes, bem como é vedado a esses, assinantes
                    e/ou usuários a escolha de expressões malsoantes, injuriosas, coincidentes com marcas de produtos ou
                    serviços de terceiros, denominações sociais, expressões publicitárias, nomes ou pseudônimos de
                    personalidades públicas, de pessoas famosas ou registrados por terceiros, ou que não remetam à
                    identidade do registrante e, em geral, contrários à lei, à ordem ou às exigências da moral e dos
                    bons costumes comumente aceitos. Além disso, é terminantemente proibido o uso de nomes de marcas,
                    programas, produtos ou serviços de propriedade ou oferecidos pela <b>overt</b> ou de qualquer uma de
                    suas
                    sociedades controladoras, sociedade controladas ou sociedades sob controle comum.
                  </li>
                  <li>
                    Cookies são pequenos arquivos de texto enviados ao seu computador. Os cookies são armazenados no seu
                    computador. Estes pequenos arquivos servem para reconhecer, acompanhar e armazenar a navegação do
                    usuário na Internet.
                    O uso de cookies para acompanhar e armazenar informações possibilitará a <b>overt</b> oferecer um
                    serviço
                    mais personalizado (hiperlink para o texto explicativo sobre personalização), de acordo com as
                    características e interesses de seus usuários, possibilitando, inclusive, a oferta de conteúdo e
                    publicidade específicos para cada pessoa, beneficiando a experiência do usuário na Internet.
                    Em geral, os cookies são utilizados para: Proporcionar serviços diferenciados, lembrando quem você é
                    e quais são os seus hábitos de navegação, além de acessar as informações do seu cadastro na
                    <b>overt</b>
                    (armazenadas em nossos servidores);
                    Ajudar os parceiros do Canal de Compras da <b>overt</b> a acompanhar visitas e negócios em suas
                    lojas;
                    Calcular a dimensão da audiência da <b>overt</b>;

                    Acompanhar o andamento de promoções. Quando uma promoção organizada pela <b>overt</b> usa cookies,
                    as
                    informações gravadas no cookie indicam a pontuação do usuário.
                    Medir certos padrões de navegação, mapeando quais áreas dos Serviços da <b>overt</b> você visitou e
                    seus
                    hábitos de visita como um todo. Usamos essa informação para verificar a rotina de navegação dos
                    nossos usuários, e assim oferecer conteúdo e/ou serviços cada vez mais personalizados.
                    Facilitar e agilizar o preenchimento de formulários. As informações contidas nos cookies de cada
                    usuário podem ser utilizadas para preencher previamente os formulários de coleta de dados existentes
                    na Internet.
                    Os anunciantes, parceiros e/ou patrocinadores da <b>overt</b> poderão utilizar seus próprios
                    cookies, os
                    quais não são cobertos por esta política. Sugerimos que você consulte as políticas de privacidade
                    dessas empresas.
                  </li>
                  <li>
                    As informações coletadas pela <b>overt</b> serão utilizadas para personalizar o conteúdo e/ou
                    serviços disponibilizados. Isso inclui serviços de personalização, comunicações interativas, compras
                    on-line e outros tipos de serviços. Sabendo mais sobre você, a <b>overt</b> pode fornecer conteúdo e
                    serviços mais relevantes e proporcionar uma melhor experiência on-line.
                    As informações também poderão ser utilizadas para gerar dados estatísticos gerais com finalidade
                    informativa ou comercial. Informações geográficas, demográficas, psicográficas e de perfil de uso
                    dos usuários da <b>overt</b> poderão ser fornecidas a parceiros, patrocinadores, anunciantes ou
                    outras empresas externas, sem que sejam revelados nomes ou outros dados de navegação.
                    As informações coletadas poderão ser utilizadas para direcionamento de campanhas publicitárias de
                    uma forma geral, como por exemplo no caso em que um anunciante determina como foco de uma
                    determinada campanha homens com mais de 25 anos. Nesse caso, veiculamos a propaganda aos usuários
                    dentro dessa faixa etária utilizando banners e/ou e-mails promocionais. Os usuários ao se
                    cadastrarem na <b>overt</b> terão a opção de receber ou não em sua conta de e-mail ofertas e/ou
                    propaganda, sendo que, a qualquer tempo, essa opção poderá ser alterada pelo usuário.
                    As informações pessoais individuais não serão comercializadas ou fornecidas a terceiros em nenhuma
                    hipótese, salvo em estrito cumprimento de ordens judiciais ou procedimentos jurídicos similares.
                    Todas as informações fornecidas a parceiros, patrocinadores, anunciantes e demais serão apenas de
                    grupos de usuários (segmentos de mercado).
                  </li>
                  <li>
                    A <b>overt</b> não tem como prática a divulgação de informações que possam identificá-lo, salvo
                    quando autorizado por você ou em circunstâncias previstas nesta presente política. Em alguns casos,
                    essa identificação será necessária, caso você adquira um determinado produto ou serviço ou ganhe um
                    prêmio cuja entrega, para ser feita, necessite de suas informações pessoais. A identificação também
                    pode ser pedida para que uma determinada transação comercial possa ser efetivada. A revelação dos
                    seus dados poderá ainda acontecer devido a exigências legais. Podemos revelar suas informações
                    pessoais em algumas circunstâncias, listadas nos casos a seguir:
                    Parceiros de negócios e patrocinadores: A <b>overt</b> pode divulgar suas informações pessoais a
                    alguns parceiros, patrocinadores, anunciantes e demais. Porém, nesses casos, você será consultado
                    antes mesmo de a coleta ou transferência de dados ser feita. Os detalhes do uso compartilhado podem
                    ser encontrados nos contratos de uso específicos e também nas regras das promoções. Alguns ou todos
                    os dados coletados durante uma promoção da <b>overt</b> podem ser compartilhados com um
                    patrocinador. Se forem compartilhados dados que possam identificá-lo, você será informado antes da
                    coleta ou transferência de dados.
                    Algumas promoções oferecem oportunidades para solicitação de informações adicionais dos
                    patrocinadores. Solicitando mais informações, você dá à <b>overt</b> permissão para transferir suas
                    informações pessoais para o patrocinador, para que ele possa atender à sua solicitação.
                    Canal de Compras: Se você adquirir um produto no canal de compras da <b>overt</b>, as informações
                    obtidas durante a sua visita às lojas e as informações que você fornecer às mesmas, tais como o
                    número do seu cartão de crédito e dados para contato, são automaticamente repassadas aos lojistas.
                    Isso ocorre para permitir que as transações sejam efetuadas. Os lojistas que fazem parte do canal de
                    compras da <b>overt</b> possuem práticas de privacidade e coleta de dados próprias. A <b>overt</b>
                    não se responsabiliza por essas políticas independentes. Para obter mais informações sobre o
                    lojista, sua loja e suas políticas de privacidade, retorne à página inicial dessa loja e localize o
                    link da respectiva política.
                    Leilões: A <b>overt</b> não possui um serviço próprio de leilões, e, portanto, não assume quaisquer
                    responsabilidades em decorrência de informações que você venha a fornecer a sites que organizam esse
                    tipo de evento. Lembramos que essas informações não estarão sujeitas à política de privacidade da
                    <b>overt</b>.
                    Dados de terceiros e dados agregados: Sob acordos de confidencialidade e demais instrumento
                    contratuais, a <b>overt</b> pode comparar informações do usuário com dados de terceiros. Além disso,
                    a <b>overt</b> pode divulgar estatísticas agregadas para grupos de usuários (por exemplo, 45% dos
                    nossos usuários são do sexo feminino) com o objetivo de descrever nossos serviços para prováveis
                    parceiros, anunciantes etc., bem como tendo em vista outros objetivos legais.
                    Empresas Relacionadas: A <b>overt</b> compartilha suas informações com empresas controladas,
                    controladoras, coligadas ou sob controle comum da <b>overt</b> (“Empresas Relacionadas”).
                    Outros: A <b>overt</b> também pode divulgar informações sobre o usuário em casos especiais nos quais
                    temos razão para acreditar que a divulgação dessas informações é necessária para identificar, entrar
                    em contato ou agir legalmente contra alguém que possa estar causando danos ou interferindo
                    (intencional ou não intencionalmente) nos direitos ou na propriedade da <b>overt</b>, de outros
                    usuários da <b>overt</b> ou de qualquer pessoa que seja prejudicada por tais atividades. A
                    <b>overt</b> pode divulgar informações sobre o usuário quando exigido por lei e com objetivos
                    administrativos ou outros que considerarmos necessários para manter e aprimorar nossos produtos e
                    serviços.
                  </li>
                </ol>
              </li>
              <li>
                <h6>Cessão de dados</h6>
                O Usuário reconhece e concorda expressamente que a base de dados da <b>overt</b>
                poderá ser cedida ou transferida a terceiros, desde que respeite a finalidade única e exclusiva de dar
                continuidade à atividade prestada pela <b>overt</b>.
              </li>
              <h6>
                GARANTIAS E RESPONSABILIDADE
              </h6>
              <li>
                <h6>Disponibilidade de Nosso Atendimento</h6>
                O SITE depende de muitos fatores alheios ao controle da
                <b>overt</b>, como qualidade da internet do Usuário e configurações do dispositivo utilizado para acesso
                ao
                SITE. Dessa forma, a <b>overt</b> não garante a disponibilidade, acesso e continuidade do funcionamento
                do
                SITE ou de suas funcionalidades, não sendo responsável por nenhum dano ou prejuízo causado a você em
                caso
                de
                indisponibilidade.
              </li>
              <li>
                <h6>
                  Não Livre de Vírus
                </h6>
                A <b>overt</b> não garante a ausência de vírus e outros elementos nos
                conteúdos e serviços prestados por terceiros através do SITE que possam introduzir alterações nos
                sistemas
                informáticos, documentos eletrônicos ou arquivos dos Usuários.
              </li>
              <li>
                <h6>Links</h6>
                O SITE poderá colocar à disposição dos Usuários links e ferramentas de busca que permitam aos
                Usuários o acesso a websites de titularidade de outras entidades ("Links"). você reconhece e aceita que
                a
                utilização dos serviços e conteúdos dos websites acessados por meio desses Links será feita por sua
                exclusiva conta, risco e responsabilidade e isenta a <b>overt</b> de qualquer responsabilidade de
                qualquer
                natureza relativa aos websites e conteúdos acessados pelos Links.
              </li>
              <li>
                <h6>Permissões</h6>
                Sem prejuízo dos conteúdos e utilidades descritos nestes Termos e Condições, a
                <b>overt</b> se reserva o direito de introduzir novas facilidades, serviços ou ferramentas com o intuito
                de enriquecer a experiência
                do Usuário no uso do SITE, podendo estes ser de qualquer natureza como logística, de pagamento, de
                administração, de acessibilidade, entre outros. É possível que alguns servidores guardem, em sua memória
                cachê, cópias das páginas consultadas por você no SITE com o único objetivo de melhorar a velocidade de
                tráfego nestas páginas. você consente expressamente com esta guarda, sem prejuízo de outras
                possibilidades
                reservadas à <b>overt</b> nos termos da Política de Privacidade.
              </li>
              <li>
                <h6>Conteúdos e Serviços de Terceiros</h6>
                A <b>overt</b> não garante a licitude, utilidade, veracidade,
                exatidão e atualidade dos conteúdos e informações relacionados aos produtos e serviços de terceiros
                disponibilizados e oferecidos no SITE. A <b>overt</b> não será responsável por danos e prejuízos
                resultantes da utilização e contratação dos conteúdos e dos serviços de terceiros no SITE, tampouco pela
                aquisição
                de produtos anunciados. Exemplificativamente, a <b>overt</b> não se responsabiliza por anúncios que
                configurem infração de direitos de qualquer natureza, atos, omissões ou falta de cumprimento de
                obrigações de
                terceiros, atos de concorrência desleal, publicidade ilícita, inadequação de expectativas, vícios e
                defeitos de toda a classe dos serviços e conteúdos de terceiros prestados através do SITE, entre outros.
              </li>




              <li>
                <h6>PROPRIEDADE INTELECTUAL</h6>
                você reconhece que estão protegidos por direitos de propriedade intelectual da <b>overt</b>
                ou de terceiros a totalidade:<br>
                dos elementos do SITE e de cada uma de suas ferramentas;<br>
                das informações e conteúdos materiais do SITE;<br>
                das estruturas, seleções, ordenações e apresentações dos conteúdos do SITE;<br> e
                dos programas operacionais utilizados pelo SITE.
              </li>

              <li>
                <h6>Vedações</h6>
                Salvo mediante expressa e inequívoca autorização da <b>overt</b> ou, conforme o caso, dos
                terceiros titulares dos direitos correspondentes, você não poderá realizar web crawling no SITE,
                reproduzir, exibir, copiar, transformar, modificar, desmontar, realizar engenharia reversa, distribuir,
                alugar,
                fornecer, colocar à disposição do público, através de qualquer modalidade de comunicação pública,
                qualquer dos elementos referidos no parágrafo anterior.
              </li>
              <li>
                Fica terminantemente proibida a utilização de textos, imagens, anúncios e qualquer outro elemento
                incluído ou disponível no SITE para sua posterior inclusão, total ou parcial, em websites ou quaisquer
                veículos alheios ao SITE sem a expressa e inequívoca autorização prévia e por escrito da <b>overt</b>.
                você deverá abster-se de remover sinais que identifiquem direitos (de propriedade intelectual, de imagem
                ou
                qualquer outro) da <b>overt</b> ou de terceiros que figurem no SITE e em cada uma das diversas
                utilidades
                oferecidas por ele. Do mesmo modo, você deverá abster-se de manipular quaisquer dispositivos técnicos
                estabelecidos pela <b>overt</b> ou por terceiros para proteção de seus direitos, quer seja no SITE ou em
                qualquer dos materiais, elementos ou informação obtida através do SITE.
              </li>
              <li>
                <h6>Autorizações</h6>
                Você autoriza a <b>overt</b> a reproduzir, distribuir e comunicar publicamente as
                fotografias, imagens, vídeos, áudios, textos e qualquer outro conteúdo que inserir em seus anúncios no
                SITE,
                estando autorizada, inclusive, a publicação do conteúdo em outros Sites administrados pela <b>overt</b>.
              </li>
              <li>
                <h6>DISPOSIÇÕES GERAIS</h6>
                Estes Termos e Condições regem a relação entre o SITE e você. O SITE poderá modificar
                estes Termos e Condições e demais
                políticas aplicáveis sempre que for necessário refletir alterações da lei ou mudanças em suas
                ferramentas.
                você deverá consultar regularmente os Termos e Condições e demais políticas aplicáveis. O SITE poderá
                postar avisos
                informando a existência de modificações nestes Termos e Condições nesta página. Havendo alterações das
                utilidades,
                ferramentas e de novas funcionalidades, tais alterações entrarão em vigor imediatamente, sendo
                responsabilidade do Usuário a verificação das condições aplicáveis no momento da utilização do SITE. Se
                você
                não concordar com os termos alterados, você deverá descontinuar o uso do SITE.
              </li>
              <li>
                Direito de exclusão e de solicitação de documentos. A <b>overt</b> se reserva o direito de recusar ou
                retirar o acesso ao SITE, ou inabilitar o cadastro, sem necessidade de aviso prévio, daqueles Usuários
                que
                descumpram as Condições Gerais de Uso e/ou as Condições Particulares que lhe sejam aplicáveis ou àqueles
                que
                a <b>overt</b>, por liberalidade própria, resolver recusar ou retirar do SITE. A <b>overt</b> poderá
                ainda,
                a seu critério, solicitar documentos e informações complementares quando entender necessário para
                manutenção
                da conta de um Usuário.
              </li>
              <li>

                As disposições previstas neste item se aplicam a todos os Usuários da <b>overt</b>, sem distinção
                entre Usuários profissionais e os demais e ainda que tenha sido contratada qualquer das funcionalidades
                previstas nos itens 4 e 5 dos presentes Termos.
              </li>
              <li>
                Em caso de remoção de conteúdo e/ou suspensão ou cancelamento de cadastro de Usuário por desrespeito
                aos presentes Termos, incluindo pelo atraso ou a falta de pagamento, os valores correspondentes às
                funcionalidades contratadas serão cobrados integralmente e, caso o pagamento tenha ocorrido de forma
                antecipada, não haverá reembolso de qualquer valor
              </li>
              <li>
                <h6>Menores de idade</h6>
                O uso das facilidades do SITE por menores de idade só poderá ocorrer mediante
                prévia
                autorização de seus responsáveis legais, sendo o menor devidamente assistido e supervisionado pelos
                mesmos,
                que serão os responsáveis por todos os atos praticados pelos menores através do SITE. Nos casos em que
                expressamente se assinale, o acesso ficará restringido única e exclusivamente aos maiores de 18 anos. Na
                ocorrência de causas que afetam a capacidade civil do Usuário, o uso do SITE lhe será restrito sob as
                mesmas
                condições dos menores de idade.
              </li>
              <li>
                <h6>Duração e Término</h6>
                A disponibilização das ferramentas e funcionalidades da <b>overt</b> no SITE tem
                duração indefinida, ressalvadas as disposições em contrário relativas a funcionalidades específicas. Sem
                prejuízo das disposições anteriores, a <b>overt</b> se reserva o direito de decidir sobre o
                encerramento,
                suspensão ou interrupção das funcionalidades oferecidas, podendo fazê-lo, unilateralmente e a qualquer
                momento, sem a obrigatoriedade de prévio aviso aos Usuários, salvo se houver contraprestação financeira
                com
                relação à funcionalidade alterada/cancelada. Nesta hipótese, a <b>overt</b> comunicará os Usuários que
                tenham contratado as ferramentas pagas, através do endereço eletrônico cadastrado, com a antecedência
                mínima
                de 5 (cinco) dias sobre a descontinuidade da ferramenta, de modo a garantir que os Usuários estejam
                cientes
                do encerramento, suspensão ou interrupção a ser efetuada.
              </li>
              <li>
                <h6>Resolução de conflitos.</h6>
                Estes Termos e Condições serão interpretados de acordo com as leis da
                República Federativa do
                Brasil. Todos os litígios oriundos do presente Termos e Condições ou com ele relacionados serão
                submetidos
                preferencialmente à jurisdição do Foro da Comarca de Rio de Janeiro, RJ, podendo ser submetidos ao foro
                do
                domicílio do Usuário, conforme disposto em Lei, ou, caso a demandante seja a <b>overt</b>, esta poderá a
                seu
                critério iniciar a demanda no foro de sua escolha.
              </li>
              <li>
                <h6>Comunicação</h6>
                O SITE compromete-se a enviar determinadas informações relacionadas às suas utilidades
                e ferramentas ou outras informações adicionais que a lei exigir. Podemos enviar-lhe tais informações em
                formato eletrônico, seja por e-mail (endereço especificado por você quando criou sua Conta no SITE) ou
                demais meios eletrônicos disponíveis, como notificações via push e ainda por meio físico por escrito,
                enviado por correios ao endereço indicado em sua Conta. Os avisos enviados a você via e-mail serão
                considerados entregues e recebidos na data da transmissão do e-mail. Todas as notificações ao SITE devem
                ser enviadas por correio com aviso de recebimento para o endereço listado acima no preâmbulo destes Termos e
                Condições.
                você tem o direito de retirar o consentimento para receber essas informações, mas se o fizer, o SITE
                reserva-se o direito de cancelar sua Conta.
                Podemos ainda enviar-lhe comunicações com divulgações sobre promoções, pacotes, novidades ou outras
                informações sobre a <b>overt</b> e/ou sobre empresas do mesmo grupo econômico da <b>overt</b>.
              </li>
              <li>
                <h6>Renúncia e autonomia das disposições</h6>
                Qualquer omissão ou tolerância na exigência do fiel cumprimento
                dos termos e condições destes Termos e Condições, ou no exercício das prerrogativas dele decorrentes, não
                constituirá novação ou renúncia, nem afetará o direito da <b>overt</b> em exercê-lo a qualquer tempo. Outrossim, a
                renúncia a qualquer desses direitos somente será válida se formalizada por escrito, bem como a nulidade ou
                invalidade de qualquer previsão destes Termos e Condições não prejudicará a validade e eficácia das demais
                disposições.
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>