<nav class="nav  navbar-absolute fixed-top">

  <div class="container-fluid">
    <div class="col-sm-12">
      <h5 class="text-white">{{user.displayName?user.displayName:user.email}}</h5>
      <button id="power-off" class="btn text-white btn-link" (click)="fnLogout()">
        <i class="fa fa-power-off"></i>
      </button>
    </div>
  </div>

</nav>
<div class="main-content">
  <div class="container-fluid">


    <div class="row">
      <div class="col-sm-4">



      </div>
      <div class="col-sm-2">


      </div>


    </div><!-- row -->
  </div>
</div>